/*
	DEMO STYLE
*/
/* @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"; */

body {
	font-family: 'Poppins', sans-serif;
	background: #fafafa;
}

p {
	font-family: 'Poppins', sans-serif;
	font-size: 1em;
	font-weight: 300;
	line-height: 1.7em;
	color: #555;
}

a, a:hover, a:focus {
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}

.container-fluid {
	padding: 0;
}

.container-fluid {
    padding: 0;
}

.navbar {
	padding: 10px 10px;
	width: 100%;
	background: #fff;
	border: none;
	border-radius: 0;
	margin-bottom: 10px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
	
}

.navbar-btn {
	box-shadow: none;
	outline: none !important;
	border: none;
}

.line {
	width: 100%;
	height: 1px;
	border-bottom: 1px dashed #ddd;
	
}

/* ---------------------------------------------------
	SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
	display: flex;
	width: 100%;
}

.main {
	width: 100%;
}

.sticky {
	position: sticky;
	top: 0;
}

.chat {
	min-width: 220px !important;
	max-width: 220px !important;
	text-align: center;
}

input#search {
	width: 100%;
	border: 0;
	border-radius: 10px;
	background: rgba(0, 3, 34, 0.2);
	color: #fff;
	outline: none;
}

#sidebar {
	min-width: 270px;
	max-width: 270px;
	background: 
		linear-gradient(
			rgba(0, 0, 0, 0.5), 
			rgba(0, 0, 0, 0.5)),
		url('./img/sidebar-bg.jpg');
	background-size: cover;
	background-position: center;
	/* background: #038a39; */
	color: #fff;
	transition: all 0.6s;
	transform-origin: bottom left;
	height: 100vh;
	
}

#sidebar.active {
	margin-left: -270px;
	/* transform: rotateY(100deg); */
}

#sidebar .sidebar-header {
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	font-family: sans-serif;
	text-transform: uppercase;
	height: 60px;
	line-height: 60px;
	user-select: none;
	/* background: #038a39; */
}

#sidebar ul.components {
	padding: 20px 0;
	/* border-bottom: 1px solid #038a39; */
}

#sidebar ul p {
	color: #fff;
	padding: 10px;
}

#sidebar ul li a {
	padding: 10px;
	font-size: 1.1em;
	display: block;
	border-radius: 10px;
}
#sidebar ul li a:hover {
	/* color: #038a39; */

	background: rgba(0, 3, 34, 0.7);
	/* background: #fff; */
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
	color: #fff;
	background: rgba(0, 3, 34, 0.3);
	/* background: #0a7033; */
}

a[aria-expanded="true"] {
	border-radius: 10px 10px 0 0 !important;
}


a[data-toggle="collapse"] {
	position: relative;
}

.dropdown-toggle::after {
	display: block;
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
}

ul ul a {
	font-size: 0.9em !important;
	padding-left: 30px !important;
	background: rgba(0, 3, 34, 0.3);
	border-radius: 0 !important;
	/* background: #24b35d; */
}

ul ul li:last-child a {
	border-radius: 0 0 10px 10px !important;
}

ul.CTAs {
	padding: 20px;
}

ul.CTAs a {
	text-align: center;
	font-size: 0.9em !important;
	display: block;
	border-radius: 5px;
	margin-bottom: 5px;
}

a.article, a.article:hover {
	background: #24b35d !important;
	color: #fff !important;
}



/* ---------------------------------------------------
	CONTENT STYLE
----------------------------------------------------- */
#content {
	width: 100%;
	padding: 20px;
	/* height: 100vh; */
	transition: all 0.3s;
}

#sidebarCollapse {
	width: 40px;
	height: 40px;
	background: #f5f5f5;
	cursor: pointer;
}

#sidebarCollapse span {
	width: 80%;
	height: 2px;
	margin: 0 auto;
	display: block;
	background: #555;
	transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
	transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
	transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
	opacity: 0;
}
#sidebarCollapse span:last-of-type {
	transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
	transform: none;
	opacity: 1;
	margin: 5px auto;
}


/* ---------------------------------------------------
	MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
	#sidebar {
		margin-left: -270px;
	}
	#sidebar.active {
		margin-left: 0;
		transform: none;
	}
	#sidebarCollapse span:first-of-type,
	#sidebarCollapse span:nth-of-type(2),
	#sidebarCollapse span:last-of-type {
		transform: none;
		opacity: 1;
		margin: 5px auto;
	}
	#sidebarCollapse.active span {
		margin: 0 auto;
	}
	#sidebarCollapse.active span:first-of-type {
		transform: rotate(45deg) translate(2px, 2px);
	}
	#sidebarCollapse.active span:nth-of-type(2) {
		opacity: 0;
	}
	#sidebarCollapse.active span:last-of-type {
		transform: rotate(-45deg) translate(1px, -1px);
	}
	.chat {
		display: none;
	}
}

/*	GERAL	 */
.box-create {
  display: block;
  border: 1px solid #99999950 !important;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px #99999950;
	padding: 5px;
	height: auto;
}
.tuk {
	background: white;
  padding: 7px;
  border-radius: 8px 8px 0 0;
}
.user-photo {
  margin-right: 7px;
  float: left;
}
span.title {
  font-size: 20px;
  padding: 5px;
  border-bottom: 2px solid black;
}
.title {
	font-size: 20px;
}
div.news-prev {
	display: flex;
}
div.news-body {
	text-align: justify;
	padding: 10px 20px 10px 0;
}
textarea.comment, textarea.conteudo {
  padding: 10px 15px;
  width: 100%;
	font-size: 16px;
  border: 0;
}
textarea.conteudo {
  padding: 10px 15px;
	min-height: 44px;
	max-height: 140px;
	border: 0;
	color: #555;
	background-color: #fff;
	overflow-y: scroll;
}
textarea.comment {
  height: 120px;
}
input.title-news {
	padding: 10px 15px 15px;
	width: 100%;
	border: 0;
	border-bottom: 1px solid #88888850;
	background-color: #fff;
	font-size: 22px;
	color: #555;
}
div.content-editable {
  padding: 10px 15px;
	min-height: 44px;
	max-height: 140px;
	color: #555;
	background-color: #fff;
	overflow-y: scroll;
}

[contentEditable=true]:empty::before {
	content: attr(data-placeholder);
	color: #888;
	cursor: text;
}
.username {
	font-size: 18px;
	margin: 0 5px;
}
.data-user {
	display: block;
}
.comment-date {
  margin: 0 5px;
}

.link-post {
  color: rgb(34, 74, 255);
}
